/* head */
html, body {
background-color: rgb(77, 69, 114);
color: #e5eaec;
font-family: 'Raleway', sans-serif;
font-weight: 100;
height: 100vh;
margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #e7eff3;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
/* head */


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body.body{
 color: #dde6eb;
  background-color:#f0f0f0;
  font-family:helvetica;
  background:url("../css/images/bureau.jpg");
  background-size:contain;
  background-repeat: no-repeat;
}

img.img{
  width: 25px;
  height: 25px;  
}

div.one1{
    position: relative;
    left: 1100px;

}

div.two{
    position: relative;
    left: 1250px;
}

a.three{
    position: relative;
    left: 1000px;
}

a.centre {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
    color: #eff3f5;
    font-size: 125px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(114, 135, 180);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}


div.login{
  color: #103c57;
  background-color: rgb(77, 69, 114);
  font-family:helvetica;
  /* background:url("../css/images/login.jpg"); */
  background-size:contain;
  background-repeat:no-repeat;
}

div.container{
 color: #e5eaec
}

body.color{
 background-color: rgb(77, 69, 114);
}